<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mind Genomic</title>
    
    {% include 'bootstrap.html' %}

    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Bruno+Ace&family=Dancing+Script:wght@700&family=Darumadrop+One&family=Inter:wght@600&family=Russo+One&family=Sigmar&display=swap" rel="stylesheet">

  </head>
  <body>

    {% include 'nav.html' %}
    
    {% include 'banner.html' %}
    
    <div class="container text-center mt-2 mb-4">
      
      <h1>What Is Mind Genomics?</h1>

    </div>
    
    <div class="container mt-2 mb-4">
      <p style="font-size:20px;">
        Created by Dr. Howard Moskowitz, Mind Genomics transforms ordinary, everyday experiences and mindsets into empirical science. Mind Genomics works by examining the mindsets, beliefs, and opinions of different individuals regarding certain everyday topics.

      </p>
      <p style="font-size:20px;">
Mind Genomics carried out by the application of <a href="https://en.wikipedia.org/wiki/Conjoint_analysis" style="font-weight:bold;color:rgb(0,0,0);">Conjoint Analysis</a>, offers a way to discover those ways that brands can use strategically to create products, services or experiences that match consumer interest and communicate the stories about them that resound across and within the different mind-sets consumers have toward them. It provides marketers and advertisers with empirical, scientific guidance when selecting target groups and messages to achieve their business goals
      </p>
    </div>

    <div class="container text-center mt-2 mb-4" style="padding-top:28px;">
        <div class="container text-center" style="padding:20px;">
            <div class="row align-items-start">
      
                <div class="col-7">
                  <h1 style="padding-top:128px;font-family: 'Be Vietnam Pro', sans-serif;font-family: 'Bruno Ace', cursive;font-family: 'Dancing Script', cursive;font-family: 'Darumadrop One', cursive;font-family: 'Inter', sans-serif;font-family: 'Russo One', sans-serif;font-family: 'Sigmar', cursive;font-size:69px;">Survey</h1>     
                </div > 
              
                <div class="col-5" style="padding-top:0px;padding-right:0px;">
                   <img src="https://mind-genomic-survey--violetyang.repl.co/static/survey.png" width="460" height="290">        
                </div>
              
            </div>       
        </div>
    </div>
  
  
    <div class="container text-center" style="padding:40px;">
      <div class="row align-items-start">   
          <div class="col" >
            <img src="https://mind-genomic-survey--violetyang.repl.co/static/teamwork.png" width="460" height="290">
          </div>
      
          <div class="col" style="color:rgb(255, 255, 255);background-color:rgb(247, 160, 37);width:460px; height:290px;">
            <p style="font-size:18px;">Survey results assist us in establishing self-functioning and self-managing groups through peer evaluations.</p>
            <p style="font-size:18px;">This survey will take you less than 15 minutes to complete and your input would be very valuable to everyone.</p>       
          </div >       
          <div class="col " >
            <a class="btn btn-primary" href="https://mind-genomics-survey--violetyang.repl.co/survey" role="button" style="background-color:rgb(222, 104, 9);color:rgb(255,255,255);padding:23px;font-size:81px;">Go to Survey</a>        
          </div>        
      </div>
    </div>

    <div class="container text-center" style="padding:40px;">
      <div class="row align-items-start">   
          <div class="col" >
            <img src="https://mind-genomic-survey--violetyang.repl.co/static/further sources.jpg" width="460" height="290">
          </div>
      
          <div class="col" style="color:rgb(255, 255, 255);background-color:rgb(117, 191, 67);width:460px; height:290px;">
            <p style="font-size:18px;">Survey results assist us in establishing a software about further sources.</p>
            <p style="font-size:18px;">This survey will take you less than 15 minutes to complete and your input would be very valuable to everyone.</p>       
          </div >       
          <div class="col " >
            <a class="btn btn-primary" href="#" role="button" style="background-color:rgb(79, 120, 8);color:rgb(255,255,255);padding:23px;font-size:81px;">Go to Survey</a>        
          </div>        
      </div>
    </div>

    {% include 'footer.html' %}
    
  </body>

</html>