<!DOCTYPE html>
<html>
  <head>
    <title>Survey Submitted</title>

    {% include 'bootstrap.html' %}
    
  </head>
  <body>
    
    {% include 'nav.html' %}

    {% include 'banner.html' %}

    <!--
    <div class="container text-center">  
      <h2 style="padding:20px;">Your survey has been submitted.</h2>
      <h2>We very much appreciate your helping us to complete our research.</h2>  
    </div>

    <div class="container text-center">
      <h4 style="padding-top:68px;">
        Your Answers
      </h4>

      <ul class="list-group">
        
        {% for key in answers.keys() %}     
          {% if not key[-1].isdigit() and not key=='elapsed_time' %}
            <li class="list-group-item">{{answers[key]}}</li>
          {% endif %}

          {% if key=='elapsed_time' %}
              <li class="list-group-item"><b>{{'Your response time: '}}</b> {{+answers[key]+ ' minutes'}}</li>
          {% endif %}
        
        
          {% if key[-1].isdigit() %}
            <li class="list-group-item" style="padding:18px;">
              {% if not key[-2].isdigit() %}
                <div style="font-weight:bold;">{{'Question '+key[-1]+': '}}</div>
              {% endif %}
              {% if key[-2].isdigit() %}
                <div style="font-weight:bold;">{{'Question '+key[-2]+key[-1]+': '}}</div>
              {% endif %}
              
            {% set question_data = answers[key].split(',') %}
              {% for qu in question_data[:-1] %}
                   <div>{{ qu }}</div>
              {% endfor %}
              <div style="padding:20px; font-weight:bold;">{{ 'Your Rating: ' + question_data[-1] }}</div>              
            </li> 
          {% endif %}  
        
         
        {% endfor %}
      </ul>   
    </div>
 -->

   {{data}}

    
   {% include 'footer.html' %}
 
  </body>
</html>