



       
  
 
 <!-- 
  <select id="{{q[0]}}" name="{{q[0]}}">
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',1'}}">1 - Low</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',2'}}">2</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',3'}}">3</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',4'}}">4</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',5'}}" selected>5 - Medium</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',6'}}">6</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',7'}}">7</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',8'}}">8</option>
      <option value="{{q[1] + ','+ q[2] +','+ q[3]+','+q[4]+',9'}}">9 - High</option>
  </select>
-->






